html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
p{
  color: #7c7c7c;
}

* {
  box-sizing: border-box;
}
.page-container{
  position: relative;
  width: 100%;
  background: rgb(255,250,236);
  background: radial-gradient(circle, rgba(255,250,236,1) 0%, rgba(255,255,255,1) 54%);
}
.diez{
  display: flex;
  justify-content: center;
  align-items: center;
}