.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main h1{
    color: #ff5b00;
    margin-right: 50px;
}
.main h3{
    color: #969696;
}